{% extends 'base.html.twig' %}
{% block title %}Срок действия истёк{% endblock %}
{% block body %}
    <h1>Ссылка недоступна</h1>
    <p>Эта ссылка больше не активна: либо срок действия истёк, либо она была одноразовой.</p>
{% endblock %}
